body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #e6e3dc;
}

header{
  width: 100%;
}

.nav-wrapper{
  background-color:#0fa8a6;
  display: table;
  width: 100%;
  text-shadow: none;
}

.sidenav{
  background-color: #0dada3;
}

.mobileLogo{
  margin-top:10px;
  text-align: center; 
}

#searchMobile{
  background-color:#075453;
}

.brand-logo{
  margin-left:5px;
}

/*search start*/
.search{ 
  position: relative;
  top:10px;  
  float:right;
  width: 300px;
}
.magnifying-glass {
  position: relative;
  transform: translateX(40%);
  transition: transform 500ms;
}
.search.active .magnifying-glass {
  transform: translateX(-7%);
}
.magnifying-glass-path {
  fill:none;
  stroke-dasharray: 210 808;
  stroke-linecap:round;
  stroke-width:6;
  stroke:white;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}
.search.active .magnifying-glass-path {
  stroke-dasharray: 580 808;
  stroke-dashoffset: -224px;
}
.x {
  fill:none;
  stroke-dasharray: 56 92;
  stroke-dashoffset: -92px;
  stroke-linecap:round;
  stroke-width:6;
  stroke:white;
  transition: stroke-dashoffset 500ms;
  visibility: hidden;
}
.search.active .x {
  visibility: visible;
}
.search.searching .x {
  stroke-dashoffset: 0;
}
.input {
  border: 0;
  font-size: 1.2em;
  left: 20px;
  outline: 0 !important;
  position: absolute;
  top: 4px;
}
.overlay {
  background: rgba(0,0,0,0);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: background 300ms;
}
.overlay-1 {
  height: 64px;
  left: 110px;
  top: -10px;
  width: 64px;
}
.overlay-2 {
  height: 38px;
  left: 240px;
  top: 0px;
  width: 38px;
}
.search.active .overlay-1 {
  visibility: hidden;
}
.search:not(.active) .overlay-2,
.search:not(.searching) .overlay-2 {
  visibility: hidden;
}
/*search stop*/



.dropDownMenu{
  text-align: left; 
  width: 100%;
}

/*dropdown start*/
.right{
  float:right;
}
.header {
 text-align:center; 
}
.header a { 
  padding: 30px 0 0;
  display: block;
  font-size: 48px;
  text-decoration: none;
  color: #555; 
}
 .header p { 
  margin: 10px 0 40px 0; 
  font-size: 18px; 
}
 .container {
  max-width: 100%; 
}
 @media only screen and (max-width : 1000px;) {
  .stellarnav > ul > li > a {
   padding: 20px 23px; }
}

/*dropdown stop*/
